ul {
    margin-left: 30%;
    list-style: none;
}

h1 {
    text-align: center;
    font-weight: 900;
    font-size: 2.5em;
}

img {
    display: block;
    margin: auto;
    width: 70%;
    border: 3px solid green;
}

.description {
    padding-top: 1%;
    margin-left: 18%;
    margin-right: 18%;
    font-size: .9em;
    font-style: italic;
    text-align: center;
}

.main-content {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 4%;
    width: 50%;
    border: 3px solid green;
    background-color: rgb(224, 224, 213);
    padding: 2%;
    font-size: 1.2em;
}

html {
    background-image: url("https://background-tiles.com/overview/green/textures/large/5002.png");
    background-color: rgb(84, 202, 143);
}

p {
    display: flex;
    margin-left: 10%;
    margin-right: 9%;
}

h2 {
    text-align: center;
}

.ingredients {
    margin: auto;
    text-align: center;
}

ol {
    margin-left: 10%;
    margin-right: 9%;
}

li {
    margin: 2em;
}

footer {
    position: static;
    bottom: 2%;
    width: 100%;
    text-align: center;
    color: rgb(218, 18, 168);
    font-weight: 800%;
}